.Main-Navbar {
  height: 60px;
  background: #336BFF;
}

.Main-Navbar.site-name {
  text-align: center;
}

.Main-header.page-name {
  text-align: center;
}

.MainSidebar.car-management {
  height: 240px;
}

.MainSidebar.user-management {
  height: 240px;
}